[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
adafruit-circuitpython-logging = "*"
adafruit-circuitpython-display-text = "*"
adafruit-circuitpython-neopixel = "*"
adafruit-circuitpython-portalbase = "*"
adafruit-circuitpython-datetime = "*"

[dev-packages]

[requires]
python_version = "3.14"
